<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Pirate</h1>
    <p>INF225_FULLCRUD_ACT_ROPETA_AARONJIRO_9iyuJhJHHnmKl225</p>
    <a href="/pirates">Crew Board</a>
    <hr/>

    <form action="" method="post">
        <div>
            <label>Pirate Name:</label>
            <input type="text" name="pirate_name"/>
        </div>
        <div>
            <label>Image URL:</label>
            <input type="text" name="pirate_name"/>
        </div>
        <div>
            <label>Number of Treasure Chests:</label>
            <select name="pirate_chest">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div>
            <label>Pirate Catch Phrase:</label>
            <input type="text" name="pirate_phrase"/>
        </div>
        <div>
            <label>Crew Position:</label>
            <select name="pirate_position">
                <option value="First Mate">First Mate</option>
                <option value="Quarter Master">Quarter Master</option>
                <option value="Boatswain">Boatswain</option>
                <option value="Powder Monkey">Powder Monkey</option>
            </select>
        </div>
    </form>
    
    
</body>
</html>